html.public-html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title The Shed Place
    block head
  body.public-body
    include ../_partials/nav
    main.public-main
      block content
    include ../_partials/footer
