nav.admin-nav
  .admin-nav-container
    .admin-nav-content
      // Logo/Brand section
      .flex.items-center
        a.admin-nav-brand(href="/") Admin Panel

      // Navigation Links
      .admin-nav-links
        a.admin-nav-link(href="/") Home
        a.admin-nav-link(href="/admin/sheds") Shed Administration
        a.admin-nav-link(href="/admin/trailers") Trailer Administration
