footer.public-footer
  .public-footer-container
    .public-footer-content
      .public-footer-section
        h3.public-footer-title Contact Us
        p.public-footer-text
          | Trese Anderson
          br
          | (931) 324-1199
          br
          | shedplace@gmail.com
          br
          a.public-footer-link(href="http://www.hohenwaldsheds.com") www.hohenwaldsheds.com

      .public-footer-section
        h3.public-footer-title Quick Links
        .public-footer-links
          a.public-footer-link(href="/sheds") Sheds
          a.public-footer-link(href="/trailers") Trailers
          a.public-footer-link(href="/financing") Financing
          a.public-footer-link(href="/contact") Contact

      .public-footer-section
        h3.public-footer-title Hours
        p.public-footer-text
          | Monday - Friday: 9am - 6pm
          br
          | Saturday: 10am - 4pm
          br
          | Sunday: Closed

    .public-footer-bottom
      p.public-footer-copyright &copy; 2025 The Shed Place. All rights reserved.
