footer
  div
    div
      // Company Info Section
      div
        h3 About The Shed Place
        p
          | Your trusted source for quality sheds, trailers,
          | metal buildings, and play sets in Hohenwald, TN.
        p
          | 511 E Main Street
          br
          | Hohenwald, TN 38462

      // Products Section
      div
        h3 Our Products
        div
          a(href="/sheds") Sheds
          a(href="/trailers") Trailers
          a(href="/metal-buildings") Metal Buildings
          a(href="/play-sets") Play Sets

      // Contact Section
      div
        h3 Contact & Hours
        p
          strong Contact:
          br
          | Trese Anderson
          br
          | (931) 324-1199
          br
          | shedplace@gmail.com
        p
          strong Hours:
          br
          | Monday - Friday: 9am - 6pm
          br
          | Saturday: 10am - 4pm
          br
          | Sunday: Closed

      // Quick Links Section
      div
        h3 Quick Links
        div
          a(href="/") Home
          a(href="/about") About Us
          a(href="/contact") Contact
          a(
            href="http://www.hohenwaldsheds.com",
            target="_blank",
            rel="noopener"
          ) Website

    div
      p &copy; #{ new Date().getFullYear() } The Shed Place. All rights reserved.
