nav
  div
    div
      // Logo/Brand section
      div
        a(href="/") The Shed Place

      // Hamburger Menu Button (Mobile)
      button(type="button", aria-label="Toggle menu", data-nav-toggle)
        span
        span
        span

      // Navigation Links (Mobile Menu)
      div(data-nav-links)
        div
          a(href="/") Home
          a(href="/sheds") Sheds
          a(href="/trailers") Trailers
          a(href="/metal-buildings") Metal Buildings
          a(href="/play-sets") Play Sets
          a(href="/contact") Contact
          a(href="/about") About
