html.h-full
  head
    block head
  body.bg-gray-900.min-h-full.flex.flex-col
    include ../_partials/nav
    main.flex-1.container.mx-auto.px-4.py-8.bg-white.my-8.rounded-lg.shadow-xl
      block content
    include ../_partials/footer
