doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Shed & Cabin Store
    link(rel="stylesheet", href="/css/home.css")

  body
   p hello world
   p yo
   p what is up 
